@{
  ViewBag.Title = "Routines";
}

@model IList<WorkoutRoutine>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th>
            Routine
          </th>
          <th class="navigation">
            Exercises
          </th>
          <th class="navigation">
            Plans
          </th>
          <th class="navigation">
            Edit
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var routine in Model.OrderBy(x => x.Name))
        {
          <tr>
            <td>
              @routine.Name
            </td>
            <td class="navigation">
              <a href="@Url.Action("Index", "WorkoutRoutineExercises" , new { id=routine.Id, week=1 })"
                 class="btn btn-sm btn-outline-secondary"
                 data-toggle="tooltip" title="View/Edit Exercises">
                <i class="fa fa-fw fa-list"></i>
              </a>
            </td>
            <td class="navigation">
              <a href="@Url.Action("Index", "WorkoutPlans", new { id=routine.Id })"
                 class="btn btn-sm btn-outline-secondary"
                 data-toggle="tooltip" title="View/Edit Plans">
                <i class="fa fa-fw fa-list"></i>
              </a>
            </td>
            <td class="navigation">
              <a href="@Url.Action("Edit", new { id=routine.Id })"
                 class="btn btn-sm btn-outline-secondary"
                 data-toggle="tooltip" title="Edit Routine">
                <i class="fa fa-fw fa-edit"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="navigation">
            <a href="@Url.Action("Create")"
               class="btn btn-sm btn-outline-success"
               data-toggle="tooltip" title="Create Routine">
              <i class="fa fa-fw fa-plus"></i>
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item active">Routines</li>
    </ol>
  </nav>
}
