@{
  ViewBag.Title = "Routine Exercises";
}

@model WorkoutRoutineExerciseForm

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      @Html.Partial("_Tabs", Model)
      <div class="form-group">
        <table class="table table-sortable">
          @for (var d = 0; d < Model.Routine.Days; d++)
          {
            <thead>
              <tr>
                <th style="width: 16px;"></th>
                <th style="width: 175px">Week @Model.Week, Day @(d + 1)</th>
                <th style="width: 24px;"></th>
                <th class="text-right" colspan="2">
                  <a href="@Url.Action(MVC.WorkoutRoutineExercises.Create(Model.Routine.Id, d+1))" class="btn btn-sm btn-outline-success">
                    <i class="fa fa-fw fa-plus"></i> Add to Day @(d + 1)
                  </a>
                </th>
              </tr>
            </thead>
            <tbody day-id="@(d + 1)">
              @foreach (var exercise in Model.Routine.RoutineExercises.Find(Model.Week, d + 1, ""))
              {
                @Html.Partial("_Row", exercise)
              }
            </tbody>
          }
          <tfoot>
            <tr>
              <td colspan="5" class="text-left">
                <button type="submit" class="btn btn-primary">save week</button>
                <a href="@Url.Action(MVC.WorkoutRoutines.Index())" class="btn btn-outline-secondary">cancel</a>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    }
  </div>
</div>



@section Scripts {
  <script type="text/javascript">
    $(function ()
    {
      $('textarea').autogrow({ vertical: true, horizontal: false });

      $('.collapse').on('shown.bs.collapse', function (e)
      {
        var $card = $(this).closest('.card');

        $('html,body').animate({ scrollTop: $card.offset().top - 50 }, 500);
      });

      $('button[type=submit]').click(function ()
      {
        var $table = $('table.table-sortable').find('tbody').find('tr').each(function (idx)
        {
          var $seq = $(this).find('input[name$=SequenceNumber]');

          $seq.val(idx + 1);
        });
      });

      $('.table-sortable').sortable({
        handle: '.drag-handler',
        containerSelector: 'table',
        itemPath: '> tbody',
        itemSelector: 'tr',
        placeholder: '<tr class="placeholder"/>'
      });
    });
  </script>
}

