@{
  ViewBag.Title = "Plans";
}

@model WorkoutRoutine

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th colspan="4">
            <a href="@Url.Action("Create", new { id = Model.Id })" class="btn btn-sm btn-outline-success float-right">
              <i class="fa fa-fw fa-plus"></i> Create
            </a>
            Plan
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var plan in Model.Plans.OrderByDescending(x => x.Id))
        {
          <tr>
            <td>
              @Model.Name #@plan.Id
            </td>
            <td style="width: 125px;" class="text-center">
              @plan.Status
            </td>
            <td style="width: 125px;" class="text-right">
              @plan.CreatedAt.ToString("d")
            </td>
            <td class="text-right">
              <a href="@Url.Action("Index", "WorkoutPlanCycles", new { id = Model.Id, plan = plan.Id })">
                cycles
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>