@{
  ViewBag.Title = "Plans";
}

@model WorkoutRoutine

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th>
            Plan
          </th>
          <th class="navigation">
            Created
          </th>
          <th class="navigation">
            Cycles
          </th>
          <th class="navigation">
            Current
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var plan in Model.Plans.OrderByDescending(x => x.Id))
        {
          <tr>
            <td>
              @Model.Name #@plan.Id
            </td>
            <td class="navigation text-right">
              @plan.CreatedAt.ToString("d")
            </td>
            <td class="navigation">
              <a href="@Url.Action("Index", "WorkoutPlanCycles" , new { id=Model.Id, plan=plan.Id })"
                 class="btn btn-sm btn-outline-secondary"
                 data-toggle="tooltip" title="View Cycles">
                = @plan.PlanCycles.Select(x => x.CycleId).Distinct().Count()
              </a>
            </td>
            <td class="navigation">
              @if (plan.CurrentCycleId > 0)
              {
                <a href="@Url.Action("Index", "WorkoutPlanLogs", new { id=Model.Id, plan=plan.Id, cycle=plan.CurrentCycleId })"
                   class="btn btn-sm btn-outline-secondary"
                   data-toggle="tooltip" title="View Current Cycle">
                  # @plan.CurrentCycleId
                </a>
              }
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="navigation">
            <a href="@Url.Action("Create")"
               class="btn btn-sm btn-outline-success"
               data-toggle="tooltip" title="Create Plan">
              <i class="fa fa-fw fa-plus"></i>
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutRoutines")">Routines</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Edit", "WorkoutRoutines", new { id=Model.Id })">@Model.Name</a></li>
      <li class="breadcrumb-item active">
        Plans
      </li>
    </ol>
  </nav>
}