@{
  ViewBag.Title = "Workout Cycle";
}

@model WorkoutPlanCycleEditViewModel

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary()
      <table class="table">
        <thead>
          <tr>
            <th>Exercise</th>
            <th class="text-center" style="width: 100px;">Weight</th>
            <th class="text-center" style="width: 100px;">Reps</th>
            <th class="text-center" style="width: 100px;">Pullback %</th>
            <th class="text-center" style="width: 100px;">1RM</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var cycle in Model.Cycle.OrderBy(x => x.Exercise.DetailName))
          {
            <tr>
              <td style="vertical-align: middle;">
                @cycle.Exercise.DetailName
              </td>
              <td class="text-center">
                @cycle.Weight
              </td>
              <td class="text-center">
                @cycle.Reps
              </td>
              <td class="text-center">
                @cycle.Pullback
              </td>
              <td class="text-center">
                @cycle.OneRepMax.ToString("N1")
              </td>
            </tr>
          }
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-left">
              <a href="@Url.Action("Index", new { id=Model.Plan.Routine.Id, plan=Model.Plan.Id })" class="btn btn-outline-secondary">back</a>
            </td>
          </tr>
        </tfoot>
      </table>
    }
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutRoutines")">Routines</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Edit", "WorkoutRoutines" , new { id=Model.Plan.Routine.Id })">@Model.Plan.Routine.Name</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutPlans" , new { id=Model.Plan.Routine.Id })">Plans</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", new { id=Model.Plan.Routine.Id, plan=Model.Plan.Id })">Plan # @Model.Plan.Id Cycles</a></li>
      <li class="breadcrumb-item active">
        Cycle # @Model.CycleId
      </li>
    </ol>
  </nav>
}