@{
  ViewBag.Title = "Workout Cycle";
}

@model WorkoutPlanCycleEditViewModel

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary()
      <table class="table">
        <thead>
          <tr>
            <th>Exercise</th>
            <th style="width: 100px;">Weight</th>
            <th style="width: 100px;">Reps</th>
            <th style="width: 100px;">Pullback %</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var exercise in Model.Cycle.Where(x => x.IsCalculated).OrderBy(x => x.Exercise.DetailName))
          {
            @Html.Partial("_EditRow", exercise);
          }
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-left">
              @if (Model.Plan.PlanLogs.Filter(Model.CycleId).Any())
              {
                <a href="@Url.Action("Index", "WorkoutPlanLogs", new { id=Model.Plan.Routine.Id, plan=Model.Plan.Id, cycle=Model.CycleId })" class="btn btn-outline-secondary float-right">skip</a>
              }
              <button type="submit" class="btn btn-primary">setup cycle</button>
              <a href="@Url.Action("Index", new { id=Model.Plan.Routine.Id, plan=Model.Plan.Id })" class="btn btn-outline-secondary">cancel</a>
            </td>
          </tr>
        </tfoot>
      </table>
    }
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutRoutines")">Routines</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Edit", "WorkoutRoutines", new { id=Model.Plan.Routine.Id })">@Model.Plan.Routine.Name</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutPlans", new { id=Model.Plan.Routine.Id })">Plans</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", new { id=Model.Plan.Routine.Id, plan=Model.Plan.Id })">Plan # @Model.Plan.Id Cycles</a></li>
      <li class="breadcrumb-item active">
        Setup Cycle # @Model.CycleId
      </li>
    </ol>
  </nav>
}