@{
  ViewBag.Title = "Workout Plan Cycle";
}

@model WorkoutPlan

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary()
      <table class="table">
        <thead>
          <tr>
            <th>
              Cycle
            </th>
            <th class="navigation">
              Setup
            </th>
          </tr>
        </thead>
        <tbody>
          @for (int i = Model.CurrentCycleId; i > 0; i--)
          {
            <tr>
              <td>
                @i
              </td>
              <td class="navigation">
                @if (Model.CurrentCycleId == i)
                {
                  <a href="@Url.Action("Edit", new { id=Model.Routine.Id, plan=Model.Id, cycle=i })"
                     class="btn btn-sm btn-outline-secondary"
                     data-toggle="tooltip" title="Setup Cycle">
                    <i class="fa fa-fw fa-cog"></i>
                  </a>
                }
                else
                {
                  <a href="@Url.Action("Display", new { id=Model.Routine.Id, plan=Model.Id, cycle=i })"
                     class="btn btn-sm btn-outline-secondary"
                     data-toggle="tooltip" title="View Setup">
                    <i class="fa fa-fw fa-search"></i>
                  </a>
                }
              </td>
            </tr>
          }
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td class="navigation">
              <a href="@Url.Action("Create")"
                 class="btn btn-sm btn-outline-success"
                 data-toggle="tooltip" title="Create Cycle">
                <i class="fa fa-fw fa-plus"></i>
              </a>
            </td>
          </tr>
        </tfoot>
      </table>
    }
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutRoutines")">Routines</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Edit", "WorkoutRoutines", new { id=Model.Routine.Id })">@Model.Routine.Name</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutPlans", new { id=Model.Routine.Id })">Plans</a></li>
      <li class="breadcrumb-item active">
        Plan # @Model.Id Cycles
      </li>
    </ol>
  </nav>
}