@{
  ViewBag.Title = "Exercises";
}

@model ExerciseIndexViewModel

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th>
            Group
          </th>
          <th>
            Category
          </th>
          <th>
            Exercise
          </th>
          <th class="navigation">
            Edit
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var exercise in Model.Items.OrderBy(x => x.Name))
        {
          <tr>
            <td>
              <a href="@Url.Action("Index", new { group=exercise.Group })"
                 data-toggle="tooltip" title="Filter for @exercise.Group">
                @exercise.Group
              </a>
            </td>
            <td>
              <a href="@Url.Action("Index", new { category=exercise.Category })"
                 data-toggle="tooltip" title="Filter for @exercise.Category">
                @exercise.Category
              </a>
            </td>
            <td>
              @exercise.Name
            </td>
            <td class="navigation">
              <a href="@Url.Action("Edit", new { id=exercise.Id })"
                 class="btn btn-sm btn-outline-secondary"
                 data-toggle="tooltip" title="Edit Exercise">
                <i class="fa fa-fw fa-edit"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <a href="@Url.Action("Index")">(all)</a>
          </td>
          <td class="navigation">
            <a href="@Url.Action("Create")"
               class="btn btn-sm btn-outline-success"
               data-toggle="tooltip" title="Create Exercise">
              <i class="fa fa-fw fa-plus"></i>
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item active">
        Exercises
        @if (Model.SelectedCategory != ExerciseCategories.None)
        {
          <i class="fa fa-fw fa-filter text-muted"></i> <span>Category=</span>@Model.SelectedCategory
        }
        @if (Model.SelectedGroup != ExerciseGroups.None)
        {
          <i class="fa fa-fw fa-filter text-muted"></i> <span>Group=</span>@Model.SelectedGroup
        }
      </li>
    </ol>
  </nav>
}
