@{
  ViewBag.Title = "Add Routine Exercise";
}

@model WorkoutRoutineExerciseForm

<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-8">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary();
      @Html.HiddenFor(m => m.RoutineExercise.WeekId);
      @Html.HiddenFor(m => m.RoutineExercise.DayId);
      <div class="form-group">
        @Html.DropDownListFor(m => m.RoutineExercise.ExerciseId, Model.Routine.AllExercises.ToSelectList(), "(exercise)", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RoutineExercise.ExerciseId, "", new { @class = "form-text text-danger" })
      </div>
      <div class="form-group">
        <span class="form-text text-muted">
          The default workout routine (pattern) for the selected exercise
        </span>
        @Html.TextBoxFor(m => m.RoutineExercise.WorkoutRoutine, new { @class = "form-control form-control-sm workout-pattern", placeholder = "workout routine" })
        @Html.ValidationMessageFor(m => m.RoutineExercise.WorkoutRoutine, "", new { @class = "form-text text-danger" })
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">add</button>
        <a href="@Url.Action(MVC.WorkoutRoutineExercises.Index(Model.Routine.RoutineId, 1))" class="btn btn-outline-secondary">cancel</a>
      </div>
    }
  </div>
</div>
