@model WorkoutLog

<tr>
  @using (Html.BeginFieldScope(Model, "Logs"))
  {
    <td class="drag-handler"></td>
    <td style="vertical-align: middle;">
      @Html.HiddenFor(m => m.PlanId)
      @Html.HiddenFor(m => m.CycleId)
      @Html.HiddenFor(m => m.WeekId)
      @Html.HiddenFor(m => m.DayId)
      @Html.HiddenFor(m => m.ExerciseId)
      @Html.HiddenFor(m => m.SequenceNumber)
      @Model.Exercise.Category @Model.Exercise.Name
    </td>
    <td class="text-center" style="vertical-align: middle;">
      <a class="pointer delete-log"
         data-toggle="tooltip" title="Delete Exercise">
        <i class="fa fa-fw fa-times text-danger"></i>
      </a>
    </td>
    <td>
      @Html.TextBoxFor(m => m.Workout, new { @class = "form-control workout-pattern" })
      @Html.ValidationMessageFor(m => m.Workout, "", new { @class = "form-text text-danger" })
    </td>
  }
</tr>