@{
  ViewBag.Title = "Workout Logs";
}

@model WorkoutLogDetailViewModel

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10 d-none d-sm-block">
    @Html.Partial("_DetailsWide", Model)
  </div>
  <div class="col-sm-12 d-block d-sm-none">
    @Html.Partial("_DetailsNarrow", Model)
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index")">Logs @DateTime.Now.ToString("MMM yyyy")</a></li>
      <li class="breadcrumb-item active">
        @Model.LogDate.ToString("dddd MMM d")
      </li>
    </ol>
  </nav>
}