@{
  ViewBag.Title = "Workout Logs";
}

@model WorkoutLogDetailViewModel

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary()
      <div class="form-group">
        <h3>
          @Model.LogDate.ToString("dddd - MMMM d yyyy")
        </h3>
      </div>
      <table class="table table-sortable">
        <thead>
          <tr>
            <th style="width: 16px;"></th>
            <th style="width: 200px">Exercise</th>
            <th style="width: 24px;"></th>
            <th>Workout</th>
          </tr>
        </thead>
        @if (Model.Logs.Count() > 0)
        {
          <tbody>
            @foreach (var log in Model.Logs.OrderBy(x => x.SequenceNumber).ThenBy(x => x.Exercise.Name))
            {
              @Html.Partial("_DetailRow", log)
            }
          </tbody>
        }
        <tfoot>
          <tr>
            <td colspan="3" class="text-left">
              <button type="submit" class="btn btn-primary">save workout</button>
              <a href="@Url.Action("Index")" class="btn btn-outline-secondary">cancel</a>
            </td>
            <td>
              <a href="@Url.Action("Create", new { date = Model.LogDate.ToYMD() })" class="btn btn-sm btn-outline-success float-right">
                <i class="fa fa-fw fa-plus"></i> Add Exercise
              </a>
            </td>
          </tr>
        </tfoot>
      </table>
    }
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index")">Logs @DateTime.Now.ToString("MMM yyyy")</a></li>
      <li class="breadcrumb-item active">
        @Model.LogDate.ToString("dddd MMM d")
      </li>
    </ol>
  </nav>
}


@section Scripts {
  <script type="text/javascript">
    $(function ()
    {
      function resequence($tbody)
      {
        var ids = [];

        $tbody.find('tr').each(function (idx)
        {
          var $exId = $(this).find('input[name$=ExerciseId]');
          var $seq = $(this).find('input[name$=SequenceNumber]');

          $seq.val(idx + 1);

          ids.push($exId.val());
        });
      }

      $('.table-sortable').sortable({
        handle: '.drag-handler',
        containerSelector: 'table',
        itemPath: '> tbody',
        itemSelector: 'tr',
        placeholder: '<tr class="placeholder"/>',
        delay: 250,
        onDrop: function ($item, container, _super)
        {
          var $tbody = $item.closest('tbody');

          resequence($tbody);

          _super($item, container);
        }
      });

      $('.table-sortable .delete-log').click(function ()
      {
        $(this).closest('tr').fadeOut(500, function () { $(this).remove(); });
      });
    });
  </script>
}