@{
  ViewBag.Title = "Workout Logs";
}

@model WorkoutLogForm

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary()
      <div class="form-group">
        @Html.LabelFor(m => m.LogDate, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.LogDate, "{0:d}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LogDate, "", new { @class = "form-text text-danger" })
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Exercise</th>
            <th style="width: 24px;"></th>
            <th>Workout</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var log in Model.Logs)
          {
            @Html.Partial("_Row", log)
          }
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-left">
              <button type="submit" class="btn btn-primary">log workout</button>
              <a href="@Url.Action(MVC.WorkoutLogs.Index())" class="btn btn-outline-secondary">cancel</a>
            </td>
          </tr>
        </tfoot>
      </table>
    }
  </div>
</div>

@section Scripts {
  <script type="text/javascript">
    $('input[name$=LogDate]').datepicker({
      uiLibrary: 'bootstrap4',
      format: 'mm/dd/yyyy'
    });
    $('a.delete-log').click(function ()
    {
      var me = $(this);
      me.closest('tr').fadeOut(1000, function ()
      {
        me.closest('tr').remove();
      });
      return false;
    });
  </script>
}