@{
  ViewBag.Title = "Exercises";
}

@model IList<Exercise>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 175px;">
            Group
          </th>
          <th>
            <a href="@Url.Action(MVC.Exercises.Create())" class="btn btn-sm btn-outline-success float-right">
              <i class="fa fa-fw fa-plus"></i> Create
            </a>
            Exercise
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var exercise in Model.OrderBy(x => x.ExerciseName))
        {
          <tr>
            <td>
              <a href="@Url.Action(MVC.Exercises.Index(exercise.GroupId))">@exercise.Group.GroupName</a>
            </td>
            <td>
              <a href="@Url.Action(MVC.Exercises.Edit(exercise.ExerciseId))" style="display: block;">
                @exercise.ExerciseName
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
