@{
  ViewBag.Title = "Workout Log Plan for Cycle #" + Model.CycleId;
}

@model WorkoutPlanLogIndexViewModel

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10 d-none d-sm-block">
    @Html.Partial("_DetailsWide", Model)
  </div>
  <div class="col-sm-12 d-block d-sm-none">
    @Html.Partial("_DetailsNarrow", Model)
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutRoutines")">Routines</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Edit", "WorkoutRoutines", new { id=Model.Plan.Routine.Id })">@Model.Plan.Routine.Name</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutPlans", new { id=Model.Plan.Routine.Id })">Plans</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutPlanCycles", new { id=Model.Plan.Routine.Id, plan=Model.Plan.Id })">Plan # @Model.Plan.Id Cycles</a></li>
      <li class="breadcrumb-item active">
        Generated Cycle # @Model.CycleId
      </li>
    </ol>
  </nav>
}