@{
  ViewBag.Title = "Workout Log Plan for Cycle #" + Model.CycleId;
}

@model WorkoutPlanLogIndexViewModel

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      @for (var w = 0; w < Model.Plan.Routine.Weeks; w++)
      {
        for (var d = 0; d < Model.Plan.Routine.Days; d++)
        {
          <thead>
            <tr>
              <th style="width: 250px">Cycle @Model.CycleId, Week @(w + 1), Day @(d + 1)</th>
              <th>
                @*@if (Model.Logs.CanCreateLogInputFor(w + 1, d + 1))
                  {
                    <a href="@Url.Action(MVC.WorkoutLogs.Plans(Model.Plan.Id, Model.CycleId, w+1, d+1))"
                       class="d-print-none btn btn-sm btn-outline-success float-right">
                      <i class="fa fa-fw fa-plus"></i> Log It
                    </a>
                  }*@
              </th>
            </tr>
          </thead>
          <tbody>
            @foreach (var log in Model.Plan.PlanLogs.Filter(Model.CycleId, w + 1, d + 1))
            {
              <tr>
                <td style="padding-left: 32px;">
                  @log.Exercise.Category @log.Exercise.Name
                </td>
                <td class="workout-pattern">@log.WorkoutPlan</td>
              </tr>
            }
          </tbody>
        }
      }
    </table>
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutRoutines")">Routines</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Edit", "WorkoutRoutines", new { id=Model.Plan.Routine.Id })">@Model.Plan.Routine.Name</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutPlans", new { id=Model.Plan.Routine.Id })">Plans</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index", "WorkoutPlanCycles", new { id=Model.Plan.Routine.Id, plan=Model.Plan.Id })">Plan # @Model.Plan.Id Cycles</a></li>
      <li class="breadcrumb-item active">
        Generated Cycle # @Model.CycleId
      </li>
    </ol>
  </nav>
}