@{
  ViewBag.Title = "Plans";
}

@model IList<WorkoutPlan>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th colspan="3">
            <a href="@Url.Action(MVC.WorkoutPlans.Create())" class="btn btn-sm btn-outline-success float-right">
              <i class="fa fa-fw fa-plus"></i> Create
            </a>
            Plan
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var plan in Model.OrderByDescending(x => x.CreatedAt))
        {
          <tr>
            <td>
              <a href="@Url.Action(MVC.WorkoutPlanCycles.Index(plan.PlanId))" style="display: block;">
                @plan.Routine.RoutineName
              </a>
            </td>
            <td style="width: 125px;" class="text-center">
              @plan.Status
            </td>
            <td style="width: 125px;" class="text-right">
              @plan.CreatedAt.ToString("d")
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
