<%- . ($config.Templates + "/_Utilities.ps1") -%>
<%- $config.OutFile = "Views/$class_names/Index.cshtml" -%>
@{
  ViewBag.Title = "<%= $class_names | Label %>";
}

@model <%= $collection %>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
	  <table class="table">
		<thead>
		  <tr>
			<%= $columns | ForEach-Object  { "<th>$($_.Name | Camel)</th>"  } |  Combine -Sep "`n$(' '*8)" %>
			<th>
			  <a href="@Url.Action("Create", "<%= $class_names %>")" class="btn btn-sm btn-outline-success">
				<i class="fa fa-fw fa-plus"></i> Create
			  </a>
			</th>
		  </tr>
		</thead>
		<tbody>
		  @foreach (var <%= $var_name %> in Model)
		  {
			<tr>
			  <%= $columns | ForEach-Object  { "<td>@$($_.Name | Camel)</td>"  } |  Combine -Sep "`n$(' '*10)" %>
			  <td></td>
			</tr>
		  }
		</tbody>
	  </table>
   </div>
</div>
