@{
  ViewBag.Title = "Categories";
}

@model IList<ExerciseCategory>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th>
            Exercise Category
          </th>
          <th class="navigation">
            Edit
          </th>
          <th class="navigation">
            Exercises
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var category in Model.OrderBy(x => x.Name))
        {
          <tr>
            <td>
              @category.Name
            </td>
            <td class="navigation">
              <a href="@Url.Action("Edit", new { id = category.Id })"
                 class="btn btn-sm btn-outline-secondary"
                 data-toggle="tooltip" title="Edit Category">
                <i class="fa fa-fw fa-edit"></i>
              </a>
            </td>
            <td class="navigation">
              <a href="@Url.Action("Index", "Exercises", new { categoryId = category.Id })"
                 class="btn btn-sm btn-outline-secondary"
                 data-toggle="tooltip" title="View Exercises">
                <i class="fa fa-fw fa-list"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td class="navigation">
            <a href="@Url.Action("Create")"
               class="btn btn-sm btn-outline-success"
               data-toggle="tooltip" title="Create Category">
              <i class="fa fa-fw fa-plus"></i>
            </a>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item active">Categories</li>
    </ol>
  </nav>
}
